extend head 

block content 
    section.checker 
        .checker__wrapper 
            img(src="../svg/recoveryMail.svg" alt='mail_logo')
            h1.form__login.fl-size You are almost ready to go
            h3.checker__text Please check your email to reset your password
            img.ellipse(src="../svg/Ellipse.svg" alt="ellipse")
            img.ellipse(src="../svg/Ellipse-1.svg" alt="ellipse")
            img.ellipse(src="../svg/Ellipse-2.svg" alt="ellipse")
            img.ellipse(src="../svg/Ellipse-3.svg" alt="ellipse")
        