@import "reset.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_templeates.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
  background-color: #F9FAFC;
  // min-width: 1200px;
  
}

// ------------------------------------------------------------- 

.header{
  font-family: $ffR;
  @include fwfsls(400,16px,0.28px);
  @include wh(100%,61px);
  
  &__wrapper{ 
    @include wh(80%,61px); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;

  }

  &__text{
    display: inline-flex;
    z-index: 2;
  }
  
  &__signUp{
    font-weight: 700;
    text-decoration: none;
  }

  &__nav-home{
    @include fwfsls(400,13px,0.68px);
    text-decoration: none;
    color: #252F48;
  }

  .account-name{
    @include fwfsls(400,14px,0.28px);
  }

  #choice-header{
    @include wh(130px,20px);
    border:0px;
    outline:0px;
    background-color:  #FFFFFF;
  }

  .arrow__right{
    color: #0AD69C;
    @include wh(6px,8.5px);
    margin: 0 5px;
  }

}

.border-profile{
  // @include wh(100vh,61px);
  border: 1px solid #DAE4F2;
  background-color: #FFFFFF;
  z-index: 3;
}

.form{
  @include wh(632px,412px);
  padding: 72px 0px 0px 116px;
  @extend %pacenter;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
  
  &__login{
    font-family: $ffExo2;
    @include fwfsls(700,28px,0.4px);
    color: #002396;
    margin-bottom: 15px; //15
  }

  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 116px;
  }

  &__input{
    @include wh(400px,40.5px);
    border: 2px solid #F2F2F2;
    border-radius: 2px;
    margin-top: 23px;
    padding: 6px 8px 6px 8px;
    font-size: 0.85em;
  }

  &__forgot{
    font-family: $ffR;
    @include fwfsls(400,12px,0.28px);
    text-decoration: none;
    color: black;

    border: none;
    @include wh(400px,16px);
    margin: 13px 0px;
    text-align: end;
    margin: 13px 0px;
  }

  &__submit{
    @include wh(188px,43px);
    font-family: $ffExo2;
    @include fwfsls(600,16px,0.4px);
    color: #FFFFFF;
    background-color: #0AD69C;
    border: none;
    border-radius: 2px;
  }

  .input__wrapper{
    @include wh(400px, 40.5px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  &__small{
    @include wh(190px, 40.5px);
    // margin-left: 1.2em;
  }

}

.checkbox__wrapper{
  margin-top: 23px;
}
.checker__label{
  @include wh(400px, 40.5px);
  display: flex;
  align-items: center;
  border: none;

  a{
    text-decoration: none;
  }

  .form__box{
    @include wh(24px, 22.5px);
    margin: auto 0;
    margin-right: .5em;
  }

  .label__text{
    font-family: $ffR;
    @include fwfsls(400,14px,0.28px);
  }
}

.mg-top-40{
  margin-top: 40px;
}

.ps-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checker{
  // @include wh(1000px,320px);
  @extend %pacenter;

  text-align: center;

  &__wrapper{
    // padding: 10em 0;
    // @extend %pacenter;
    // width: auto;
  }

  &__text{
    font-family: $ffExo2;
    @include fwfsls(400,16px,0.24px);
  }

  .ellipse{
    position: absolute;
    // margin: auto 0;
    @extend %pacenter;
    z-index: -1;
  }
}


.nav {
  position: absolute;
  @include wh(80px,100%);
  margin-top: -61px;
  background-color: #01134E;
  z-index: 2;

  &__wrapper{
    @include wh(80px, 50%);
    
  }

  &__logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
    // margin-bottom: 7em;
  }

  &__content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  &__content-items{
    margin-top: 3em;
  }
  &__active-navUser{
    position: absolute;
    top: 6.3em;
    left: -1.8em;
  }
  &__active-navSearch{
    position: absolute;
    top: 2.2em;
    left: -1.8em;
  }
}

.formProf{
  @include wh(1160px,572px);
  @extend %pacenter;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
  min-width: 1200px;

  &__wrapper{
    position: absolute;
    width: 72%;
    margin-left: 4%;
  }


  .headerProf{
    width: 100%;
    height: 7em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: 1.4em;


    &__text{
      font-family: $ffR;
      @include fwfsls(700,16px,0.24px);
      color: #01134E;
      text-decoration: none;
    }
    
    // &__wrapper{
    //   // position: absolute;
    //   width: 50%;
    //   height: 7em;
    //   border-bottom: 2px solid #2A74DB;;
    //   padding-bottom: 1.4em;
    //   text-align: center;
    //   margin: auto 0;
    //   z-index: 4;
    // }
  }


  &__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
  }


  &__photo{
    max-width: 137px;

  }
  &__photo-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    .photo-text{
      font-family: $ffR;
      @include fwfsls(400,12px,0.28px);
      text-decoration: none;
      color: black;
      margin-left: 3px
    }
  }

  &__input{
    @include wh(280px,40.5px);
    border: 2px solid #F2F2F2;
    background-color: #FCFCFC;
    font-size: 0.85em;
    padding: 6px 8px 6px 8px;
  }
  &__input-mobile{
    @include wh(192px,40.5px);
    border: 2px solid #F2F2F2;
    background-color: #FCFCFC;
    margin-left: 4px;
    font-size: 0.85em;
    padding: 6px 8px 6px 8px;
  }

  &__input-text{
    font-family: $ffR;
    @include fwfsls(500,12px,1px);
    color: #546087;
    text-transform: uppercase;
    margin: 29px 0 10px 0;
    
  }

  &__input-first{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__input-data{
    font-family: $ffR;
    @include fwfsls(400,14px,0.28px);
  }

  &__input-ico{
    background-image:url(../../svg/Vector_countryPoint.svg); 
    background-repeat: no-repeat;
    background-position:left;
    padding-left: 20px;
  }

  &__input-ico-mobile{
    background-image:url(../../svg/Vector_flag1.svg); 
    background-repeat: no-repeat;
    background-position:left;
    padding-left: 20px;
  }

  &__userAcc{
    margin-top: 3em;
    margin-right: 2em;
  }

  &__changePass{
    font-family: $ffR;
    @include fwfsls(500,12px,0.28px);
    text-transform: uppercase;
    color: #01134E;
    text-decoration: none;
    margin: auto 0;
  }

  &__right-arrow{
    margin-left: 0.5em;
  }

  // ---- results styles ----

  &__wrapper-results{
    position: absolute;
    width: 90%;
    margin-left: 4%; 
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // overflow-y: auto;
  }

  &__input-result{
    width: 31%;
    border-right: 1px solid #E7EAF5;
  }

  &__search-btn{
    @include wh(280px,40.5px);
    font-family: $ffR;
    @include fwfsls(700,16px,0.4px);
    color: #FFFFFF;
    background-color: #0AD69C;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
  }

  &__header-results{
    width: 720px;
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
  }

  &__header-showMap{
    width: 500px;
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
  }

  &__header-vector{
    @include wh(15px,18px);
  }

  &__header-sortBy{
    width: 190px;
    display: flex;
    justify-content: space-around;
  }

  &__checkerbox-round{
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #F0F1F3;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
  }
  &__checkerbox-round:checked{
    width: 18px;
    height: 18px;
    background-color: #0AD69C;
    border-radius: 50%;
    content: url(../svg/Vector__checkbox_round_checked.svg);
    border: 5px solid #F0F1F3;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
  }

  &__checkerbox-text{
    font-family: $ffR;
    @include fwfsls(300,14px,-0.4px);
    color: #000000;
  }

  &__card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 720px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content-card{
    width: 330px;
    height: 128px;
    background-color: #FFFFFF;
    border: 1px solid rgba(237, 237, 237, 0.2);
    box-sizing: border-box;
    box-shadow: -2px 9px 30px rgba(23, 31, 76, 0.02);
    border-radius: 2px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    margin-bottom: 18px;
    margin-right: 10px;

  }
  &__card-img{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    margin-top: 1.2em;
    margin-left: 1.2em;
  }
  &__card-info{
    width: 15em;
    height: 8em;
    margin-top: -4.7em;
    margin-left: 7.3em;
  }
  &__card-nickname{
    font-family: $ffR;
    @include fwfsls(500,16px,-0.1px);
    color: #01134E;
    margin-bottom: 10px;
  }
  &__card-text{
    font-family: $ffR;
    @include fwfsls(300,12px,-0.046704px);
    color: #000000;
    margin-bottom: 7px;
  }
  &__card-text-main{
    font-family: $ffR;
    @include fwfsls(400,12px,-0.046704px);
    color: #01134E;
    margin-bottom: 7px;
  }

  // google map

  #map{
    height: 455px;
    width: 725px;
  }

  &__googlemap{
    position: absolute;
    top: 8%;
    left: 34.5%;
  }

  //admin panel

  &__content-admin{
    // display: flex;
    
  }

  &__header-admin{
    width: 65em;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // align-content: flex-end;
    
  }
  .btn-adm-search{
    display: flex;
    align-self: center;
    border: none;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
  }
  &__header-search{
    border: none;
    color: #252F48;
  }
  &__table{
    width: 955px;
    height: 346px;
    background: #FFFFFF;
    border: 1px solid #DAE4F2;
    box-sizing: border-box;
    box-shadow: -2px 9px 8px rgba(23, 31, 76, 0.03);
    border-radius: 4px;
    margin: 1.5em 0 0 3em;
  }
  &__table-content-wrapper{
    height: 87%;
    overflow-y: auto;
  }
  &__table-main{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #EEF2F7;
  }
  &__table-header-text{
    width: 150px;
    margin: auto 0;
    text-transform: uppercase;
    color: #01134E;
    font-family: $ffR;
    @include fwfsls(500,12px,0.6px);
    text-align: center;
  }
  &__table-content-text{
    width: 150px;
    margin: auto 0;
    text-transform: capitalize;
    color: #222428;
    font-family: $ffR;
    @include fwfsls(300,14px,0.6px);
    font-style: normal;
    text-align: center;
    // overflow:hidden;
  }
  .wrapper_admin-select{
    width: 150px;
    margin: auto 0;
  }
  &__table-content-select{
    width: 75px;
    text-align-last: center;
    border: none;
    -webkit-text-size-adjust:initial;
    margin-left: 35px;
    // text-align: center;
    // padding-right: 2em;
  }



}

.error-display{
  visibility: hidden;
}




.mx-12em{
width: 12em;
margin-top: 0.9em;
}

.formLogin{
  padding: 46px 0px 0px 116px;

}

.form__big{
  @include wh(630px,595px);
}

.g-recaptcha{
  padding-right: 6em;
  margin-top: 23px;
}

.mg-top-0{
  margin-top: 0;
}

.mg-top-29{
  margin-top: 29px;
}

.position-center{
  @extend %pacenter;
}

.mg-top-3{
  margin-top: 3px;
}

.bg-c-table{
  background: #F5F7FA;
}
.text-trans-lower{
  text-transform:lowercase;
}
.fl-size{
  @include fwfsls(600,3.15em,0.4px);
  margin-top: 23px;
}

.headerProf__active-personal{
  position: absolute;
  top: 6.9em;
  left: 0em;
}
.headerProf__active-account{
  position: absolute;
  top: 6.9em;
  right: 0em;
}
@import "_media.scss";