@import "reset.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_templeates.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
  background-color: #F9FAFC;
}

// ------------------------------------------------------------- 

.header{
  font-family: $ffR;
  @include fwfsls(400,16px,0.28px);
  @include wh(100%,61px);
  
  &__wrapper{ 
    @include wh(80%,61px); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;

  }

  &__text{
    display: inline-flex;
    z-index: 2;
  }
  
  &__signUp{
    font-weight: 700;
    text-decoration: none;
  }

  &__nav-home{
    @include fwfsls(400,13px,0.68px);
    text-decoration: none;
    color: #252F48;
  }

  .account-name{
    @include fwfsls(400,14px,0.28px);
  }

  #choice-header{
    @include wh(130px,20px);
    border:0px;
    outline:0px;
    background-color:  #FFFFFF;
  }

  .arrow__right{
    color: #0AD69C;
    @include wh(6px,8.5px);
    margin: 0 5px;
  }

}

.border-profile{
  // @include wh(100vh,61px);
  border: 1px solid #DAE4F2;
  background-color: #FFFFFF;
  z-index: 3;
}

.form{
  @include wh(632px,412px);
  padding: 72px 0px 0px 116px;
  @extend %pacenter;
  background-color: #FFFFFF;
  
  &__login{
    font-family: $ffExo2;
    @include fwfsls(700,28px,0.4px);
    color: #002396;
    margin-bottom: 15px;
  }

  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 116px;
  }

  &__input{
    @include wh(400px,40.5px);
    border: 2px solid #F2F2F2;
    border-radius: 2px;
    margin-top: 23px;
  }

  &__forgot{
    font-family: $ffR;
    @include fwfsls(400,12px,0.28px);
    text-decoration: none;
    color: black;

    border: none;
    @include wh(400px,16px);
    margin: 13px 0px;
    text-align: end;
    margin: 13px 0px;
  }

  &__submit{
    @include wh(188px,43px);
    font-family: $ffExo2;
    @include fwfsls(600,16px,0.4px);
    color: #FFFFFF;
    background-color: #0AD69C;
  }

  .input__wrapper{
    @include wh(400px, 40.5px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  &__small{
    @include wh(190px, 40.5px);
    // margin-left: 1.2em;
  }

}

.checkbox__wrapper{
  margin-top: 23px;
}
.checker__label{
  @include wh(400px, 40.5px);
  display: flex;
  align-items: center;
  border: none;

  a{
    text-decoration: none;
  }

  .form__box{
    @include wh(24px, 22.5px);
    margin: auto 0;
    margin-right: .5em;
  }

  .label__text{
    font-family: $ffR;
    @include fwfsls(400,14px,0.28px);
  }
}

.mg-top-40{
  margin-top: 40px;
}

.ps-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checker{
  @include wh(700px,700px);
  @extend %pacenter;
  text-align: center;

  &__wrapper{
    padding: 10em 0;
  }

  &__text{
    font-family: $ffExo2;
    @include fwfsls(400,16px,0.24px);
  }

  .ellipse{
    @extend %pacenter;
    z-index: -1;
  }
}


.nav {
  position: absolute;
  @include wh(80px,100%);
  margin-top: -61px;
  background-color: #01134E;

  &__wrapper{
    @include wh(80px, 50%);
    
  }

  &__logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
    // margin-bottom: 7em;
  }

  &__content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  &__content-items{
    margin-top: 3em;
  }
}

.formProf{
  @include wh(1160px,572px);
  @extend %pacenter;
  background-color: #FFFFFF;

  &__wrapper{
    position: absolute;
    width: 70%;
    margin-left: 4%;
  }

  .headerProf{
    width: 100%;
    height: 7em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: 1.4em;

    &__text{
      font-family: $ffR;
      @include fwfsls(700,16px,0.24px);
      color: #01134E;
      text-decoration: none;
    }
    
  }
  // .active{
  //   // position: relative;
  //   border-bottom: 2px solid #2A74DB;
  //   // width: 100px;
  // }

  &__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5em;
  }


  &__photo{
    max-width: 137px;

  }
  &__photo-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    .photo-text{
      font-family: $ffR;
      @include fwfsls(400,12px,0.28px);
      text-decoration: none;
      color: black;
      margin-left: 3px
    }
  }

  &__input{
    @include wh(280px,40.5px);
    border: 2px solid #F2F2F2;
    background-color: #FCFCFC;
    padding: 6px 6px 6px 6px;
  }
  &__input-mobile{
    @include wh(192px,40.5px);
    border: 2px solid #F2F2F2;
    background-color: #FCFCFC;
    margin-left: 4px;
  }

  &__input-text{
    font-family: $ffR;
    @include fwfsls(500,12px,1px);
    color: #546087;
    text-transform: uppercase;
    margin: 29px 0 10px 0;
  }

  &__input-first{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__userAcc{
    margin-top: 3em;
    margin-right: 2em;
  }

  &__changePass{
    @extend %pacenter;
    font-family: $ffR;
    @include fwfsls(500,12px,0.28px);
    text-transform: uppercase;
    color: #01134E;
    text-decoration: none;
  }

  &__right-arrow{
    margin-left: 0.5em;
  }
}



.fl-size{
  @include fwfsls(600,50px,0.4px);
  margin-top: 23px;
}

.mx-12em{
width: 12em;
margin-top: 0.9em;
}

.formLogin{
  padding: 46px 0px 0px 116px;

}

.form__big{
  @include wh(630px,595px);
}

.g-recaptcha{
  padding-right: 6em;
  margin-top: 23px;
}

.mg-top-0{
  margin-top: 0;
}