block content 
    nav.nav 
        .nav__wrapper 
            .nav__logo 
                a(href='/')
                    img(src="../svg/Vector_navLogo.svg" alt="src")
            .pugzaglushka
                ul.nav__content
                    li.nav__content-items 
                        a(href="../search/results.html")
                            img(src="../svg/Vector_navSearch.svg" alt="")
                    li.nav__content-items 
                        a(href="#")
                            img(src="../svg/Vector_navUser.svg" alt="")
                            img.nav__active-navUser(src="../svg/Active_nav.svg")
                    li.nav__content-items 
                        a(href="#")
                            img(src="../svg/Vector_navMessages.svg" alt="")
                    li.nav__content-items 
                        a(href="#")
                            img(src="../svg/Vector_navCalendar.svg" alt="")