
block content
    form.form(action="index.html")
        .form__wrapper 
            h1.form__login Sign in 
            section.form__section 
                input.form__input(type="email" placeholder="@email")
                input.form__input(type="password" placeholder="Password")
                a.form__forgot(href="#") Forgot password?
                button.form__submit Sign in 